.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: #dc3545;
  transition: color 0.3s ease-in-out;
}

.logo-icon {
  margin-right: 0.5rem;
  color: #ff6600;
  font-size: 2.5rem;
}

.logo-btn:hover {
  color: black;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.3s ease-in-out;
}

.icon-btn:hover {
  color: #fff;
  background-color: #dc3545;
}

.icon-btn.active {
  color: #ff6600;
}

#cart-btn {
  position: relative;
}

#cart-btn::after {
  content: attr(data-cart-count);
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 50%;
  display: none;
}

#cart-btn[data-cart-count]:not([data-cart-count="0"])::after {
  display: inline-block;
}
